@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family:'kamikaze.3d-gradient-regular';
    src: url(kamikaze.3d-gradient-regular.ttf);
}
@font-face {
    font-family:'Kamikaze-Italic';
    src: url(Kamikaze-Italic.ttf);
}
body{
    background-color: #161515;
    background: url("https://www.koeitecmoeurope.com/fate-sr/assets/img/webp/top_bg.webp") transparent no-repeat fixed center;
    margin: 0;
}
/* estilos del heder */
header{
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    padding: 5px 10%;
    margin: 0;
    padding: 0; 
}
header .logo img{
    height: 70px;
    width:auto;
}
ul, ol{
    list-style: none;
}
.textnodespl {
    font-size: 35px;
    display:block;
    padding: 0px 20px;
    font-family:'kamikaze.3d-gradient-regular';
    color: #ff6600; 
}
.textdespl{
    font-family: 'Kamikaze-Italic';
   background-color: #0a0a0a;
    font-size: 35px;
    display:block;
    padding: 0px 20px;
    color: #ff6600;
}

.navlinks > li{
    float: left;
}
.navlinks li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.navlinks li:hover > ul{
    display:block;
}
header .navlinks li a:hover{
    font-size: 45px;
}

header .logo img{
    border-radius: 100%;
    padding: 0 7 0 0;
    height: 80px;
    filter: hue-rotate(22deg);
}
header .logo img:hover{
    transform: scale(1.2);
    cursor:pointer;
}
/* fin del heder */

/* img */
.imgone{
    height: 250px;
    width: 205px;
}
#imganime{
    float: right; 
}
#oyasumi{
    height: 250px;
    width: 205px;
}
/* img */

/* diseño de texto */
span {
    width: 20%;
    color: #ff6600;
    text-decoration: underline;
    margin: 0 0 0 0;
    text-shadow: 0 0 15px black;
    font-size: 30px;
    text-align: left;
}
h1{
    font-family: 'Skranji', cursive;
    padding-left: 7%;
    margin-top: 3%;
    font-size: 60px;
}
h2 {
    color: #ff6600;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    text-shadow: 0 0 15px black;
    font-family: 'Skranji', cursive;
    margin: 20px;
}
h3{
    color: #ff6600;
    text-decoration: underline;
    font-size: 30px;
    text-shadow: 0 0 15px black;
    font-family: 'Skranji', cursive;
    padding-left: 7%;
    margin-top: 3%;
}
/* fin del diseño de texto */

/* diseño de los contenedores */
.test01 {
    font-size: 18px; 
    background-color: #000;
    position: relative;
    padding: 2em;
    margin: 6em 0 10em;
    width: 100%;
    padding: 0px 35px 210px 35px;
    margin-top: 10%;
}
.test01::before {
    content: "";
    background: url("https://www.koeitecmoeurope.com/fate-sr/assets/img/common_fog_section.png") no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    transform: translate(0,-100%);
    width: 100%;
    padding-top: 14%;
}
.test01::after {
    content: "";
    background: url("https://www.koeitecmoeurope.com/fate-sr/assets/img/common_fog_section.png") no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    transform: translate(0,100%) scale(1,-1);
    width: 100%;
    padding-top: 14%;
}
ul.slider li {
    left: 0px;
    top: 0px;
    height: inherit;
    list-style: none;
}
.bg-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: auto;
    transform: translate(-50%,-50%);
    filter: hue-rotate(150deg);
    opacity: .5;
    user-select: none;
}
.bg-image img {
    display: block;
    width: 100%;
    animation: rotation 40s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
/* fin de diseño de los contenedores */

#shonen{
    background-color: #f8f7f7;
    margin-top: 45px;
    margin-bottom: 45px;
    height: 50%;
    width: 50%;
}
#ModeloManga{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;   
}
a{
    text-decoration: none; 
    color: inherit;
}
#imagen{
    box-shadow: #fff;
    width: 295.5px; 
    height: 415px;
    margin: 0px 0px 0px 20px;
}
/* ficha del manga 0 */
.book{
    background: url("https://i.imgur.com/np2B2Wx.jpg") center no-repeat ;
    display: grid;
    background-size: 101% 101%;
    grid-template-columns: auto 1fr;
    gap: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    width: fit-content; 
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.book-cover {
    text-align: center;
}
.book-cover img {
    max-width: 100%;
    height: auto;
}
.book-details {
    display: flex;
    flex-direction: column;
}
.book-title a {
    font-weight: bold;
    text-decoration: none;
}
.book-author a {
    text-decoration: none;
    color: #007bff;
}
.book-category a {
    text-decoration: none;
    color: #777;
}
.book-description {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    line-height: 1.6em;
    height: 4.8em;
}
.book-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}
/* fin de ficha del manga 0 */

/* ficha del manga 1 */
.book1{
    background: url("https://i.imgur.com/AjqEYna.png") center no-repeat;
    background-size: 101% 101%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    width: fit-content; 
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.book1-cover {
    text-align: center;
}
.book1-cover img {
    max-width: 100%;
    height: auto;
}
.book1-details {
    display: flex;
    flex-direction: column;
}
.book1-title a {
    font-weight: bold;
    text-decoration: none;
}
.book1-author a {
    text-decoration: none;
    color: #007bff;
}
.book1-category a {
    text-decoration: none;
    color: #777;
}
.book1-description {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    line-height: 1.6em;
    height: 4.8em;
}
.book1-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
}
/* fin de ficha del manga 1 */

/* ficha del manga 2 */
.book2{
    background: url("https://i.imgur.com/ZVBcBie.jpg") center no-repeat;
    background-size: 101% 101%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    width: fit-content; 
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.book2-cover {
    text-align: center;
}
.book2-cover img {
    max-width: 100%;
    height: auto;
}
.book2-details {
    display: flex;
    flex-direction: column;
}
.book2-title a {
    font-weight: bold;
    text-decoration: none;
}
.book2-author a {
    text-decoration: none;
    color: #007bff;
}
.book2-category a {
    text-decoration: none;
    color: #777;
}
.book2-description {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    line-height: 1.6em;
    height: 4.8em;
}
.book2-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
}
/* ficha del manga 2 */

/* estilo de los links y botones */
.links{
    color: rgb(246, 135, 246);
    text-decoration: underline
}
.links img {
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 100%;
    width: 2%;
    margin-left: 1%;
}
.book-button{
    border-radius: 20px;
}
/* fin del estilo de los links y botones */

/* estilo del footer */
#foot{
    border-top:solid 2px;
    background: url("https://www.koeitecmoamerica.com/fate-sr/assets/img/spec_bg.jpg") no-repeat center;
    padding: 20px 20px 50px;
    text-align: center;
    margin: 3% 0px 0px 0px;
}
.footer-icos {
    margin: 20px 0;
    color: #ddd;
}
.footer-logo img{
    width: 250px;
    margin: 40px 0;
}
footer .other li {
    letter-spacing: 0;
    background: url("https://fate-go.us/assets/img/common/item_mark_gold.png") no-repeat right center;
    background-size: 11px;
    padding: 5px 28px 5px 14px;
    display: inline-block;
}
footer .other li a {
    text-decoration: none;
    font-size: 12px;
    padding: 4px 0;
    position: relative;
    color: rgb(168, 166, 166);
}
p{
    color: rgb(168, 166, 166);
}
.tdm-social-item-wrap {
    display: inline-block;

}
.tdi_131 .tdm-social-item {
    width: 39.2px;
    height: 39.2px;
    margin: 7px 14px 7px 0;
}
.tdm-social-wrappertds-social4tdi_131{
    filter: hue-rotate(150deg);
}
/* fin del footer */

/* comentarios */
.ponyo{
    display: block;
    margin-right: 30%;
    margin-left: 28%;
    width: 48.82117%;
    border: 1px solid #004f75;
    margin-bottom: 5px;
    list-style: none;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
    background-image: linear-gradient(to right,#004f75,#005782,#00608f,#00689c,#0071a9,#0071a9,#0071a9,#0071a9,#00689c,#00608f,#005782,#004f75);
}
.contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap
    padding-bottom: 4rem;
}

.contactos .image{
    flex: 1 1 40rem;
}

.contactos .image img{
    width: 100%;
    padding: 2rem;
}

.contactos form{
    flex: 1 1 40rem;
    margin: 1rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: url("https://i.imgur.com/R6EjlUO.jpg") center no-repeat;
    background-size: 103% 104%;
}

.contactos .heading{
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
}

.contactos form .inputcaja{
    position: relative;
}

.contactos form .inputcaja input, .contactos form .inputcaja textarea{
    width: 100%;
    background: none;
    color: rgb(168, 166, 166);
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border: 0;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}

.contactos form .inputcaja textarea{
    resize: none;
    height: 13rem;
}

.contactos form .inputcaja label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: inherit;
    transition: .2s linear;
}

.contactos form .inputcaja input:focus ~ label,
.contactos form .inputcaja input:valid ~ label,
.contactos form .inputcaja textarea:focus ~ label,
.contactos form .inputcaja textarea:valid ~ label{
    top: -.5rem;
    font-size: 1.5rem;
    color: indigo;
}
/* terminan los comentarios */

@media(pointer:coarse){
    header{
    height: 150px;
    }
    .textnodespl{
        font-size: 45px;
    }
    header .navlinks li a:hover{
        font-size: 55px;
    }
    .textdespl{
        font-size: 55px;
    }
    #flechita{
        height: 80px;
        width: 80px;
    }
    #imganime{
        display: none;
    }
    #foot{
        height: 25%;
    }
    #imagen{
        height: 600px;
    }
}
